.footer {
    &-container {
        background-color: #ffffff;
        color: #0006B4;
        height: 5rem;
        padding: 0.25rem 1rem;
        position: relative;
        border-top: 1px solid #cccccc;
    }
    
    &-main-text {
        padding-top: 1rem;
    }
}